:root{
	--font-title: 				'';
	--font-text: 				'';
	--font-text-mono : 	'';

	--color-text: 			#333;
	--color-text-light: 		#757575;
	--color-text-dark: 		#000;

	--color-body: 			#000;
	--color-accent: 			#000;
	--color-divider: 			#000;

	--color-text-placeholder: 		#000;

	--color-selection-text: 			#000;
	--color-selection-background: 	#fff;
}