:root{
	--color-primary:		#000;
	--color-secundary:		#000;

	--color-text:				#000;
	--color-text-light:		#000;
	--color-body:			#000;

	--color-link: 				#000;
	--color-link-hover: 		#000;

	--color-accent:			#000;
	--color-divider:			#000;

	--color-placeholder:	#000;
	--color-selection:		#000;
}