*,
*::before,
*::after {
	box-sizing: border-box;
}

html{
	box-sizing: border-box;
}

body {
	margin: 0;
	@extend .text;
	font-size: $size-text;
	line-height: 1.5;
	color: $color-text;
	text-align: left;
	background-color: #fff;
}

/* =Titles
-----------------------------------------------------------------------------*/
hgroup{

}

h1, h2, h3, h4, h5, h6{
	@extend .title;
	color: $color-text;
	font-style: normal;
	font-weight: normal;
}

h1{
	font-size: $size-h1-md;
}

h2{
	font-size: $size-h2-md;
}

h3{
	font-size: $size-h3-md;
}

h4{
	font-size: $size-h4-md;
}

h5{
	font-size: $size-h5-md;
}

h6{
	font-size: $size-h6-md;
}


/* =Selection
-----------------------------------------------------------------------------*/
::-moz-selection {
	color: $color-select-text;
	background: $color-select-bg;
}
::selection {
	color: $color-select-text;
	background: $color-select-bg;
}


/* =Placeholder
-----------------------------------------------------------------------------*/
::-webkit-input-placeholder {
	color: #ccc;
}

:-moz-placeholder {
	color: #ccc;
	opacity: 1;
}

::-moz-placeholder {
	color: #ccc;
	opacity:  1;
}

:-ms-input-placeholder {
	color: #ccc;
}