html, body{
	color: $color-text;
	font-family: sans-serif;
	line-height: 1.5;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

body{
	margin: 0;
	background-color: #ffffff;
}

/* =Titles
-----------------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6{
	@extend .title;
	color: $color-text;
	font-style: normal;
	font-weight: normal;
}

h1{
	font-size: $size-h1-md;
	@include media(small){
		font-size: $size-h1-sm;
	}
	@include media(full){
		font-size: $size-h1-lg;
	}
}

h2{
	font-size: $size-h2-md;
	@include media(small){
		font-size: $size-h2-sm;
	}
	@include media(full){
		font-size: $size-h2-lg;
	}
}

h3{
	font-size: $size-h3-md;
	@include media(small){
		font-size: $size-h3-sm;
	}
	@include media(full){
		font-size: $size-h3-lg;
	}
}

h4{
	font-size: $size-h4-md;
	@include media(small){
		font-size: $size-h4-sm;
	}
	@include media(full){
		font-size: $size-h4-lg;
	}
}

h5{
	font-size: $size-h5-md;
	@include media(small){
		font-size: $size-h5-sm;
	}
	@include media(full){
		font-size: $size-h5-lg;
	}
}

h6{
	font-size: $size-h6-md;
	@include media(small){
		font-size: $size-h6-sm;
	}
	@include media(full){
		font-size: $size-h6-lg;
	}
}

/* =Text
-----------------------------------------------------------------------------*/
hr{
	width: 100%;
	height: 1px;
	border: 0;
	display: block;
	margin: 1.5rem 0;
	background-color: $color-divider;
}

p, label, span, em, del, strong, cite, small, time, data{
	@extend .text;
	font-size: $size-text-md;
	@include media(small){
		font-size: $size-text-sm;
	}
	@include media(full){
		font-size: $size-text-lg;
	}
}

p{
	color: $color-text;
}

label{
	color: $color-text;
}

span{
	color: $color-text;
}

em{
	color: $color-text;
}

del{
	color: $color-text;
}

strong{
	color: $color-text;
	font-style: normal;
	font-weight: normal;
}

data{
	color: $color-text-light;
}

cite{
	color: $color-text-light;
}

small{
	color: $color-text-light;
}

time{
	color: $color-text-light;
}

mark{
	@extend .text;
	color: #000000;
	background: #ffe000;
}

pre{
	@extend .text;
	line-height: 1.6;
	border: 1px solid $color-divider;
	background-color: $color-accent;
	padding: 0.25em 0.5em 0.25em;
}

code{
	@extend .text;
}

/* =Address
-----------------------------------------------------------------------------*/
address{
	@extend .text;
	font-style: normal;
}

/* =Blockquote
-----------------------------------------------------------------------------*/
blockquote{
	margin: 0;
	@extend .text;
	color: $color-text-light;
	font-style: normal;
	padding: 0.25em 0.5em 0.25em;
	background-color: $color-accent;
}

/* =Svg
-----------------------------------------------------------------------------*/
svg{
	@include transition(0.3s);
	position: relative;
	&:hover{
		@include transition(0.3s);
	}
}

/* =Links
-----------------------------------------------------------------------------*/
a{
	@extend .text;
	color: $color-text;
	text-decoration: none;
	@include transition(0.3s);
	&:active{
		@include transition(0.3s);
	}
	&:visited{
		@include transition(0.3s);
	}
	&:focus{
		@include transition(0.3s);
	}
	&:hover{
		@include transition(0.3s);
	}
}

/* =Buttons
-----------------------------------------------------------------------------*/
button{
	@extend .text;
	@include transition(0.3s);
	&:active{
		@include transition(0.3s);
	}
	&:focus{
		@include transition(0.3s);
	}
	&:hover{
		@include transition(0.3s);
	}
}

/* =List
-----------------------------------------------------------------------------*/
ul{
	li{
		@extend .text;
		color: $color-text;
	}
}

ol{
	li{
		@extend .text;
		color: $color-text;
	}
}

/* =Table
-----------------------------------------------------------------------------*/
table{
	width: 100%;
	border: 1px solid $color-divider;
	thead{
		tr{
			th{
				@extend .title;
				color: $color-text;
			}
		}
	}
	tbody{
		tr{
			td{
				@extend .text;
				color: $color-text;
			}
		}
	}
	tfoot{
		tr{
			th{
				@extend .title;
				color: $color-text;
			}
		}
	}
}