$font-title: 					var(--font-title);
$font-text: 					var(--font-text);
$font-text-mono: 			var(--font-text-mono);

$color-text: 					var(--color-text);
$color-text-light: 			var(--color-text-light);
$color-text-dark: 			var(--color-text-dark);

$color-body: 				var(--color-text);
$color-accent: 				var(--color-accent);
$color-divider: 				var(--color-divider);

$color-text-placeholder: 			var(--color-text-placeholder);
$color-selection-text: 				var(--color-selection-text);
$color-selection-background: 		var(--color-selection-background);