# = FILES
# ----------------------------------------------------------------------
Icon
.DS_Store
 desktop.ini
prepros.cfg
prepros-6.config
prepros.cfg
prepros.config

# = PAGES
# ----------------------------------------------------------------------
*.pug

# = NPM & BOWER
# ----------------------------------------------------------------------
package.json
package-lock.json
node_modules/*
bower_components/*
