# = NPM & BOWER
# ----------------------------------------------------------------------
npm_modules
bower_components

# = PREPROS
# ----------------------------------------------------------------------
prepros.config
prepros-6.config

# = PAGES
# ----------------------------------------------------------------------
*.html
*.php

# = FILES
# ----------------------------------------------------------------------
.Trashes
.DS_Store
