/*=Transitions
----------------------------------------------------------------------*/
@mixin transition($time){
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-ms-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}

/*=Center element
----------------------------------------------------------------------*/
@mixin center-align() {
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

/*=Vertical element
----------------------------------------------------------------------*/
@mixin vertical-align{
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*=Horizontal element
----------------------------------------------------------------------*/
@mixin horizontal-align() {
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

/*=Aligns row elements
----------------------------------------------------------------------*/
@mixin align-items($var) {
	-webkit-box-align: $var;
	-webkit-align-items: $var;
	-ms-flex-align: $var;
	align-items: $var;
}

/*=Orientation items
----------------------------------------------------------------------*/
@mixin justify-content($var){
	@if $var == 'center'{
		//
	}
	@if $var == 'left'{
		//
	}
	@if $var == 'right'{
		webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}

/*=Calculate
----------------------------------------------------------------------*/
@function rTres($var, $cien){
	@return ($var * 100)/$cien;
}

@function porciento($var, $cien){
	@return rTres($var, $cien) * 1%;
}

@function tvw ($var, $cien){
	@return rTres($var,$cien) * 1vw;
}

@function tvh ($var, $cien){
	@return rTres($var,$cien) * 1vh;
}

@function psTr($ps){
	@return ($ps / 1000) * 1em;
}