/* =Z-INDEX
-----------------------------------------------------------------------------*/
.before{
	z-index: 5;
}

.middle{
	z-index: 15;
}

.after{
	z-index: 20;
}

/* =ROW ALIGN
-----------------------------------------------------------------------------*/
.align-middle{
	@include align-items(center);
}
