.box-shadow-small{
	box-shadow: 5px 5px 5px 0 rgba(46, 61, 73, .2);
}

.box-shadow-medium{
	box-shadow: 5px 5px 15px 0 rgba(46, 61, 73, .2);
}

.box-shadow-large{
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

.text-transform{
	writing-mode: vertical-rl;
}