/*
	Default style for button
*/
.button{
	border-radius: $button-radius;
	text-decoration: none;
	padding: $button-padding;
	&:hover{
		text-decoration: none;
	}
}


.button-primary{
	&:hover{

	}
}

.button-secundary{
	&:hover{

	}
}

.button-round{

}