.button{
	@include title;
	border: 1px solid transparent;
	border-radius: $buttons-radius;
	text-decoration: none;
	padding: $buttons-padding;
	&:hover{
		text-decoration: none;
	}
}

.button-primary{
	color: white;
	background-color: $color-primary;
	&:hover{
		color: white;
		background-color: $color-secundary;
	}
}

.button-secundary{
	&:hover{

	}
}

.button-round{

}