form{
	margin: 0;

	label{
		display: block;
		padding-bottom: 5px;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="number"],
	input[type="url"],
	input[type="search"],
	input[type="password"],
	input[type="date"],
	input[type="time"]{
		@include text;
		color: $color-text;
		padding: 0.375rem 0.75rem;
		border-radius: .25em;
		background-color: white;
		border: 1px solid $color-divider;
	}

	textarea{
		@include text;
		color: $color-text;
		background-color: white;
		border: 1px solid $color-divider;
	}

	input[type="submit"]{
		@include text;
	}
}