.slider{
	width: 100%;
	height: 50vh;
	position: relative;
	overflow: hidden;
}

.filter{
	@include full();
	@include middle;
}

.cover{
	@include full();
	@include before;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background-color: gray;
		@include middle;
	}
	img{
		width: 100%;
	}
}