.header__navigation{
	ul{
		@include flex-content();
		li{
			+ li{
				margin-left: 15px;
			}
			a{
				text-decoration: none;
				@include transition(0.3s);
				&:hover{
					text-decoration: none;
					@include transition(0.3s);
				}
			}
		}
	}
}