/* =Titles
-----------------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6{
	@extend .title;
	color: $color-text;
}

/* =Text
-----------------------------------------------------------------------------*/
p{
	@extend .text;
	color: $color-text;
	em{
		@extend .text;
	}
	del{
		@extend .text;
	}
	strong{
		@extend .text;
	}
}

label{
	@extend .text;
	color: $color-text;
}

span{
	@extend .text;
	color: $color-text;
}


/* =Links
-----------------------------------------------------------------------------*/
a{
	@extend .text;
	color: $color-text;
	text-decoration: none;
	@include transition(0.3s);
	&:active{
		color: $color-secundary;
		@include transition(0.3s);
	}
	&:visited{
		color: $color-secundary;
		@include transition(0.3s);
	}
	&:focus{
		color: $color-secundary;
		@include transition(0.3s);
	}
	&:hover{
		color: $color-secundary;
		@include transition(0.3s);
	}
}

/* =Buttons
-----------------------------------------------------------------------------*/
button{
	@extend .text;
	&:active{
		@include transition(0.3s);
	}
	&:focus{
		@include transition(0.3s);
	}
	&:hover{
		@include transition(0.3s);
	}
}

/* =List
-----------------------------------------------------------------------------*/
ul{
	li{
		@extend .text;
		color: $color-text;
	}
}

ol{
	li{
		@extend .text;
		color: $color-text;
	}
}

/* =Quotes
-----------------------------------------------------------------------------*/
blockquote{
	p{
		@extend .text;
		color: $color-text;
	}
}
