body{
	color: #000000;
	//background-color: #000000;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

p{
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
}

.header{
	width: 100%;
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
}

.header h1{
	font-family: 'Fredoka One', cursive;
	font-size: 48px;
}

.header p{

}

.header svg{
	width: 104px;
}

.footer{
	width: 100%;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #ffffff;
}

.footer p{
	color: rgba(255, 255, 255, 0.5);
	font-size: 12px;
	margin: 0;
}

.footer ul{
	margin: 0;
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.footer ul li{
	position: relative;
}

.footer ul li + li{
	margin-left: 15px;
}

.footer ul li a{
	color: rgba(255, 255, 255, 0.5);
	font-size: 12px;
}

.footer svg{
	width: 12px;
	height: 12px;
	fill: rgba(255, 255, 255, 0.5);
}