.header{
	width: 100%;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
	border-bottom: 1px solid #e0e0e0;
}

.container{
	width: 100%;
	margin: 0 auto;
	position: relative;
	max-width: 1200px;
}