@charset "UTF-8";
/*!
	📁 MAIN ––> CSS
	👨🏻‍💻 Developer by Jorge Fco.™
	🌐 https://jorge-fco.com/
	©2022 All rights reserved
*/
/*
	* https://github.com/stubbornella/oocss
	* Convert font-size from px to rem with px fallback
	* https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_fontSize.scss
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  margin: 0px;
  padding: 0px;
}