@charset "UTF-8";
/*
	MAIN
	Core — v.02
	Year — 2017©
	✄ Not view code or copy ✄
	❤ CSS Core Design ❤
	www.jorge-frac.com
*/
/*=
	Animated
*/
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/*=
	Carousel
	Flickity
	.
	.
	.
*/
/*=
	Bootstrap
	Kube
	Bulma
	Pure
	.
	.
	.
*/
/*=Transitions
----------------------------------------------------------------------*/
/*=Center element
----------------------------------------------------------------------*/
/*=Vertical element
----------------------------------------------------------------------*/
/*=Horizontal element
----------------------------------------------------------------------*/
/*=Aligns row elements
----------------------------------------------------------------------*/
/*=Orientation items
----------------------------------------------------------------------*/
/*=Calculate
----------------------------------------------------------------------*/
/* =Z-INDEX
-----------------------------------------------------------------------------*/
.before {
  z-index: 5; }

.middle {
  z-index: 15; }

.after {
  z-index: 20; }

/* =Size breakpoints
-----------------------------------------------------------------------------*/
/*=
	My fonts for app
	.
	.
	.
*/
/*=
	FontAwesome
	Ionicons
	.
	.
	.
*/
/* =Colors
-----------------------------------------------------------------------------*/
/* =Size
-----------------------------------------------------------------------------*/
/* =Fonts
-----------------------------------------------------------------------------*/
.title, h1, h2, h3, h4, h5, h6, table thead tr th, table tfoot tr th {
  font-family: "Lato", sans-serif; }

.text, p, label, span, em, del, strong, cite, small, time, data, mark, pre, code, address, blockquote, a, button, ul li, ol li, dl dt, dl dd, table tbody tr td, form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form input[type="url"],
form input[type="search"],
form input[type="password"],
form input[type="date"],
form input[type="time"], form textarea, form input[type="submit"] {
  font-family: "Open Sans", sans-serif; }

.text-light {
  font-family: "Open Sans", sans-serif; }

.text-bold {
  font-family: "Open Sans", sans-serif; }

.text-serif {
  font-family: "Open Sans", sans-serif; }

/* =Selection
-----------------------------------------------------------------------------*/
::-moz-selection {
  color: #000000;
  background: #ead4ff; }

::selection {
  color: #000000;
  background: #ead4ff; }

/* =Placeholder
-----------------------------------------------------------------------------*/
::-webkit-input-placeholder {
  color: #cccccc; }

:-moz-placeholder {
  color: #cccccc; }

::-moz-placeholder {
  color: #cccccc; }

:-ms-input-placeholder {
  color: #cccccc; }

html, body {
  color: #424242;
  font-family: sans-serif;
  line-height: 1.5; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  background-color: #ffffff; }

/* =Titles
-----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: #424242;
  font-style: normal;
  font-weight: normal; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 34px; }

h4 {
  font-size: 28px; }

h5 {
  font-size: 22px; }

h6 {
  font-size: 16px; }

/* =Text
-----------------------------------------------------------------------------*/
hr {
  width: 100%;
  height: 1px;
  border: 0;
  display: block;
  margin: 1.5rem 0;
  background-color: #e0e0e0; }

p, label, span, em, del, strong, cite, small, time, data {
  font-size: 14px; }

p {
  color: #424242; }

label {
  color: #424242; }

span {
  color: #424242; }

em {
  color: #424242; }

del {
  color: #424242; }

strong {
  color: #424242;
  font-style: normal;
  font-weight: normal; }

data {
  color: #616161; }

cite {
  color: #616161; }

small {
  color: #616161; }

time {
  color: #616161; }

mark {
  color: #000000;
  background: #ffe000; }

pre {
  line-height: 1.6;
  border: 1px solid #e0e0e0;
  background-color: #f8f8f9;
  padding: 0.25em 0.5em 0.25em; }

/* =Address
-----------------------------------------------------------------------------*/
address {
  font-style: normal; }

/* =Blockquote
-----------------------------------------------------------------------------*/
blockquote {
  margin: 0;
  color: #616161;
  font-style: normal;
  padding: 0.25em 0.5em 0.25em;
  background-color: #f8f8f9; }

/* =Svg
-----------------------------------------------------------------------------*/
svg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative; }
  svg:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

/* =Links
-----------------------------------------------------------------------------*/
a {
  color: #424242;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:active {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  a:visited {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  a:focus {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

/* =Buttons
-----------------------------------------------------------------------------*/
button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  button:active {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  button:focus {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

/* =List
-----------------------------------------------------------------------------*/
ul li {
  color: #424242; }

ol li {
  color: #424242; }

dl dt {
  color: #424242; }

dl dd {
  color: #424242; }

/* =Table
-----------------------------------------------------------------------------*/
table {
  width: 100%;
  border: 1px solid #e0e0e0; }
  table thead tr th {
    color: #424242; }
  table tbody tr td {
    color: #424242; }
  table tfoot tr th {
    color: #424242; }

footer {
  width: 100%;
  position: relative; }

header {
  width: 100%;
  position: relative; }

.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  z-index: 100; }

.button {
  text-decoration: none; }

form {
  margin: 0; }
  form label {
    display: block;
    padding-bottom: 5px; }
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form input[type="number"],
  form input[type="url"],
  form input[type="search"],
  form input[type="password"],
  form input[type="date"],
  form input[type="time"] {
    color: #424242;
    padding: 0.375rem 0.75rem;
    border-radius: .25em;
    background-color: #ffffff;
    border: 1px solid #e0e0e0; }
  form textarea {
    color: #424242;
    background-color: #ffffff;
    border: 1px solid #e0e0e0; }
