.page__aside{
	width: 100%;
	position: relative;
	padding-top: 4em;
	padding-bottom: 4em;
	padding-right: 32px;

	&:after{
		content: '';
		width: 1px;
		height: 100%;
		top: 0px;
		right: 32px;
		position: absolute;
		background-color: var(--color-divider);
	}
}

.page__aside__item{
	width: 100%;
	position: relative;

	+ div{
		margin-top: 2em;
	}

	label{
		color: var(--color-text-light);
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 8px;
	}

	time{
		color: var(--color-text-light);
		font-size: 12px;
	}

	span{
		color: var(--color-text-light);
		font-size: 12px;
		font-weight: 500;
		display: inline-block;
		padding: 4px 6px;
		position: relative;
		border: 0px;
		border-radius: 6px;
		background-color: var(--color-accent);
	}

	data{
		color: var(--color-text-dark);
		font-size: 12px;
		font-weight: 500;
		display: inline-block;
		padding: 4px 6px;
		position: relative;
		border: 0px;
		border-radius: 6px;
		background-color: #ffdd57;
	}

	svg{
		width: 14px;
		fill: currentColor;
		max-height: 14px;
		top: 2px;
		display: inline-block;
		margin-right: 6px;
		position: relative;
	}

	a{
		font-size: 14px;
		position: relative;
	}

	p{
		color: var(--color-text-light);
		font-size: 14px;
		margin: 0px;
	}
}

.page__aside__link--twitter{
	color: #1d9bf0;
}