.footer{
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 2em;
	padding-top: 4em;
	padding-bottom: 4em;
	border-top: 1px solid var(--color-divider);
}

.footer__container{
	@extend .page__container;
}

.footer__copyright{
	width: 100%;
	position: relative;

	p{
		font-family: 'JetBrains Mono', monospace;
		color: var(--color-text-light);
		font-size: 12px;
		margin: 0px;
		padding: 0px;
	}
}
