html{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body{
	color: var(--color-text);
	font-family: var(--font-text);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;

	width: 100%;
	margin: 0px;
	padding: 0px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 1rem;
	padding: 0px;
	position: relative;
}

p{
	font-weight: 400;
	padding: 0px;
	position: relative;
}

strong{
	font-weight: 700;
	position: relative;
}

a{
	color: var(--color-link);
	font-weight: 400;
	text-decoration: none;
	display: inline-block;
	position: relative;
	transition: all 0.3s cubic-bezier(.41,0,.13,1.005);

	&:hover{
		color: var(--color-link-hover);
		text-decoration: none;
		transition: all 0.3s cubic-bezier(.41,0,.13,1.005);

		&:before{
			width: 100%;
			background-color: currentColor;
			transition: all 0.3s cubic-bezier(.41,0,.13,1.005);
		}
	}

	&:before{
		content: '';
		width: 0%;
		height: 1px;
		left: 0px;
		bottom: 0px;
		position: absolute;
		background-color: currentColor;
		transition: all 0.3s cubic-bezier(.41,0,.13,1.005);
	}
}

label{
	display: block;
	padding: 0px;
	position: relative;
}

time{
	font-family: 'JetBrains Mono', monospace;
	font-weight: 400;
}

code{
	font-family: 'JetBrains Mono', monospace;
}

pre{
	font-family: 'JetBrains Mono', monospace;
}

svg{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
}