$color-primary: 		#30dca6;
$color-primary-light:	#c0f4e4;
$color-primary-dark:	#00B281;

$color-text:				rgba(0, 0, 0, 0.84);
$color-text-light:		rgba(0, 0, 0, 0.54);
$color-text-black:		#000000;

$color-accent:			rgba(0, 0, 0, 0.05);
$color-divider:			#e6e7e8;

$title:				'Barlow Condensed', sans-serif;
$text: 			'Roboto', sans-serif;
$text-mono:	'Roboto Mono', monospace;
$text-serif:		'Merriweather', serif;

@mixin title {
	@include font($title, normal, 700);
}

@mixin text {
	@include font($text, normal, 400);
}

@mixin text-bold {
	@include font($text, normal, 700);
}

@mixin text-mono {
	@include font($text-mono, normal, 400);
}

@mixin text-serif {
	@include font($text-serif, normal, 400);
}
