@mixin align-items($var) {
	-webkit-box-align: $var;
	-webkit-align-items: $var;
	-ms-flex-align: $var;
	align-items: $var;
}

@mixin justify-content($var){
	@if $var == 'center'{
	}
	@if $var == 'left'{
	}
	@if $var == 'right'{
		webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}