.header{
	width: 100%;
	position: relative;
	h1{
		font-size: 84px;
	}
	p{
		font-size: 18px;
	}
}

.logo{
	padding-top: tvh(100, 1080);
	padding-bottom: tvh(100, 1080);
}

.logo-style{
	width: 64px;
	height: 64px;
	margin: 0;
	border-radius: 5px;
	border-style: solid;
	border-width: 8px;
	border-color: $color-text;
	background-color: white;
	position: relative;
}

.logo__top{
	@extend .logo-style;
	display: block;
	margin-bottom: 7px;
}

.logo__left{
	@extend .logo-style;
	display: inline-block;
}

.logo__right{
	@extend .logo-style;
	display: inline-block;
	margin-left: 3px;
}

.logo__bottom{
	@extend .logo-style;
	display: block;
	margin-top: 1px;
}

.header__date{
	width: 100%;
	position: relative;
	text-align: left;
	time{
		color: $color-text-light;
		font-size: 14px;
	}
}

.header__version{
	width: 100%;
	position: relative;
	text-align: right;
	small{
		color: $color-text-light;
		font-size: 14px;
	}
}